; MySQL
MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
MYSQL_DATABASE: bronze_db
MYSQL_USER: bronze_user
MYSQL_PASSWORD: "${BRONZE_PASSWORD}"

; PostgreSQL
POSTGRES_USER: gold_user
POSTGRES_PASSWORD: "${GOLD_PASSWORD}"
POSTGRES_DB: gold_db